.container{
  width: 30vw;
  height: 80vh;
  background-color: rgb(180, 121, 247); 
  margin: auto;
  text-align: center;
  padding: 11px;
  margin-top: 55px;
   
}
.container input{
  width: 90%;
  padding: 11px;
  border: none;
  font-size: 20px;
  margin-top: 11px;
  margin-top: 11px;
  border-radius: 3px;

}
.container button{
  width: 90px;
  padding: 7px;
  margin: 5px;
  border: none;
  font-size: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}
.container .equal{
  background-color: rgb(238, 97, 97);
  color: white;
}